@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$primary: rgb(141, 100, 194);
.login-container form {
    display: flex;
    flex-direction: column;
}
  
.login-container form > * {
    padding-left: 5%;
    width: 30%;
}
.login-right-align {
    text-align: right;
  }
  
  input.login-right-align {
    -moz-appearance: textfield;
  }
  mat-card-actions {
    button {
      background: $primary;
      color: white;
    }
  }