<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="cotainer">
    <a href="#" routerLink="/classlist" class="logo">CVtemplate</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Profile</a></li>
          <li><a href="#" routerLink="/exp">Exp</a></li>
          <li><a href="#" routerLink="/contacts">Contacts</a></li>
          <li><a href="#" routerLink="/login">Login</a></li>
        </ul>
      </nav>

  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
